In [1]:
#import the modules 
import csv
import pandas as pd
import numpy as np

In [2]:
#created a dataframe to store the data in

df = pd.read_csv("C:/Users/keshi/Downloads/survey.csv")

In [3]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [7]:
#convert Timestamp from datetime to datetime64 type
df['Timestamp'] = df['Timestamp'].astype('datetime64[ns]')

In [8]:
#checking the type of Gender 
type(df['Gender'])

pandas.core.series.Series

In [10]:
df.Gender.replace({'Female': 1, 'female': 1, 'f': 1, 'F': 1, 'Male': 0, 'male': 0, 'm': 0, 'M': 0}, regex=True, inplace=True)

In [12]:
Countries = {}

# Iterate over each value in the 'Country' column of the DataFrame
for country in df['Country']:
    # Check if the country is already a key in the dictionary
    if country in Countries:
        # If it is, increment the count by 1
        Countries[country] += 1
    else:
        # If it isn't, add the country as a new key with a count of 1
        Countries[country] = 1

In [14]:
Countries

{'United States': 751,
 'Canada': 72,
 'United Kingdom': 185,
 'Bulgaria': 4,
 'France': 13,
 'Portugal': 2,
 'Netherlands': 27,
 'Switzerland': 7,
 'Poland': 7,
 'Australia': 21,
 'Germany': 45,
 'Russia': 3,
 'Mexico': 3,
 'Brazil': 6,
 'Slovenia': 1,
 'Costa Rica': 1,
 'Austria': 3,
 'Ireland': 27,
 'India': 10,
 'South Africa': 6,
 'Italy': 7,
 'Sweden': 7,
 'Colombia': 2,
 'Latvia': 1,
 'Romania': 1,
 'Belgium': 6,
 'New Zealand': 8,
 'Zimbabwe': 1,
 'Spain': 1,
 'Finland': 3,
 'Uruguay': 1,
 'Israel': 5,
 'Bosnia and Herzegovina': 1,
 'Hungary': 1,
 'Singapore': 4,
 'Japan': 1,
 'Nigeria': 1,
 'Croatia': 2,
 'Norway': 1,
 'Thailand': 1,
 'Denmark': 2,
 'Bahamas, The': 1,
 'Greece': 2,
 'Moldova': 1,
 'Georgia': 1,
 'China': 1,
 'Czech Republic': 1,
 'Philippines': 1}

In [15]:
#create a dictionary to see the kind of values in leaves columumns
leave_difficulty = {}
for leave in df['leave']:
    if leave in leave_difficulty:
        leave_difficulty[leave] += 1
    else:
        leave_difficulty[leave] = 1

In [16]:
leave_difficulty

{'Somewhat easy': 266,
 "Don't know": 563,
 'Somewhat difficult': 126,
 'Very difficult': 98,
 'Very easy': 206}