## Introduction

The dataset is obtained from Kaggle called Mental Health in Tech Survey. This dataset is from a 2014 survey that measures
attitudes towards mental health and frequency of mental health disorders in the tech workplace.

This step focuses on collecting your data, organizing it, and making sure it's well defined. Paying attention to these 
tasks will pay off greatly later on.

## Imports

In [3]:
#Import the modules 
import csv
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib as plt

## Load the Survey data

In [4]:
#created a dataframe to store the data in

df = pd.read_csv("C:/Users/keshi/Downloads/Medical/survey.csv")

In [5]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [7]:
#convert Timestamp from datetime to datetime64 type
df['Timestamp'] = df['Timestamp'].astype('datetime64[ns]')

In [8]:
#checking the type of Gender 
type(df['Gender'])

pandas.core.series.Series

In [9]:
df.Gender.replace({'Female': 1, 'female': 1, 'f': 1, 'F': 1, 'Male': 0, 'male': 0, 'm': 0, 'M': 0, r'[a-z]+':1}, regex=True, inplace=True)

In [10]:
Countries = {}

# Iterate over each value in the 'Country' column of the DataFrame
for country in df['Country']:
    # Check if the country is already a key in the dictionary
    if country in Countries:
        # If it is, increment the count by 1
        Countries[country] += 1
    else:
        # If it isn't, add the country as a new key with a count of 1
        Countries[country] = 1

In [11]:
Countries

{'United States': 751,
 'Canada': 72,
 'United Kingdom': 185,
 'Bulgaria': 4,
 'France': 13,
 'Portugal': 2,
 'Netherlands': 27,
 'Switzerland': 7,
 'Poland': 7,
 'Australia': 21,
 'Germany': 45,
 'Russia': 3,
 'Mexico': 3,
 'Brazil': 6,
 'Slovenia': 1,
 'Costa Rica': 1,
 'Austria': 3,
 'Ireland': 27,
 'India': 10,
 'South Africa': 6,
 'Italy': 7,
 'Sweden': 7,
 'Colombia': 2,
 'Latvia': 1,
 'Romania': 1,
 'Belgium': 6,
 'New Zealand': 8,
 'Zimbabwe': 1,
 'Spain': 1,
 'Finland': 3,
 'Uruguay': 1,
 'Israel': 5,
 'Bosnia and Herzegovina': 1,
 'Hungary': 1,
 'Singapore': 4,
 'Japan': 1,
 'Nigeria': 1,
 'Croatia': 2,
 'Norway': 1,
 'Thailand': 1,
 'Denmark': 2,
 'Bahamas, The': 1,
 'Greece': 2,
 'Moldova': 1,
 'Georgia': 1,
 'China': 1,
 'Czech Republic': 1,
 'Philippines': 1}

In [12]:
#create a dictionary to see the kind of values in leaves columumns
leave_difficulty = {}
for leave in df['leave']:
    if leave in leave_difficulty:
        leave_difficulty[leave] += 1
    else:
        leave_difficulty[leave] = 1

In [13]:
leave_difficulty

{'Somewhat easy': 266,
 "Don't know": 563,
 'Somewhat difficult': 126,
 'Very difficult': 98,
 'Very easy': 206}

In [14]:
#convert the leave list into categorical data
for leave in df['leave']:
    if leave == 'Very easy':
        leave = 0
    elif leave == 'Somewhat easy':
        leave = 1
    elif leave == 'Somewhat difficult':
        leave = 2
    elif leave == 'Very difficult':
        leave = 3
    elif leave[0] == 'D':
        leave = 4

In [15]:
df.leave.replace({'Somewhat difficult': 2, 'Somewhat easy': 1, 'Very difficult': 3, 'Very easy': 0, 'Don\'t know': 4}, inplace=True)

In [16]:
#create a dictionary to see the values in number of employees columumns
no_employees = {}
for num in df['no_employees']:
    if num in no_employees:
        no_employees[num] += 1
    else:
        no_employees[num] = 1

In [17]:
no_employees

{'6-25': 290,
 'More than 1000': 282,
 '26-100': 289,
 '100-500': 176,
 '1-5': 162,
 '500-1000': 60}

In [18]:
df.no_employees.replace({'1-5': 0, '100-500': 3, '26-100': 2, '500-1000': 4, '6-25': 1, 'More than 1000': 5}, inplace=True)

In [19]:
#create a dictionary to see the values in family history columumns
family_history = {}
for history in df['family_history']:
    if history in family_history:
        family_history[history] += 1
    else:
        family_history[history] = 1

In [20]:
family_history

{'No': 767, 'Yes': 492}

# Label Encoding #1

In [21]:
le = preprocessing.LabelEncoder()

In [22]:
df[['family_history', 'treatment', 'remote_work', 'tech_company']] = df[['family_history', 'treatment', 'remote_work', 'tech_company']].apply(le.fit_transform)

In [23]:
#Removing 'comments' column from df
df = df.drop('comments', axis=1)

In [24]:
#create a dictionary to see the values in self_employed columumns
self_employed = {}
for option in df['self_employed']:
    if option in self_employed:
        self_employed[option] += 1
    else:
        self_employed[option] = 1

In [25]:
self_employed

{nan: 18, 'Yes': 146, 'No': 1095}

In [26]:
#create a dictionary to see the values in benefits columumns
benefits = {}
for benefit in df['benefits']:
    if benefit in benefits:
        benefits[benefit] += 1
    else:
        benefits[benefit] = 1

In [27]:
benefits

{'Yes': 477, "Don't know": 408, 'No': 374}

In [28]:
#create a dictionary to see the values in work_interfere columumns
work_interfere = {}
for work in df['work_interfere']:
    if work in work_interfere:
        work_interfere[work] += 1
    else:
        work_interfere[work] = 1

In [29]:
work_interfere

{'Often': 144, 'Rarely': 173, 'Never': 213, 'Sometimes': 465, nan: 264}

In [30]:
#create a dictionary to see the values in wellness_program columumns
wellness_program = {}
for program in df['wellness_program']:
    if program in wellness_program:
        wellness_program[program] += 1
    else:
        wellness_program[program] = 1

In [31]:
wellness_program

{'No': 842, "Don't know": 188, 'Yes': 229}

In [32]:
#create a dictionary to see the kind of values in care_options columumns
care_options = {}
for care in df['care_options']:
    if care in care_options:
        care_options[care] += 1
    else:
        care_options[care] = 1

In [33]:
care_options

{'Not sure': 314, 'No': 501, 'Yes': 444}

In [34]:
#create a dictionary to see the values in mental_health_consequence columumns
mental_health_consequence = {}
for options in df['mental_health_consequence']:
    if options in mental_health_consequence:
        mental_health_consequence[options] += 1
    else:
        mental_health_consequence[options] = 1

In [35]:
mental_health_consequence

{'No': 490, 'Maybe': 477, 'Yes': 292}

In [36]:
#create a dictionary to see the values in anonymity columumns
anonymity = {}
for options in df['anonymity']:
    if options in anonymity:
        anonymity[options] += 1
    else:
        anonymity[options] = 1

In [37]:
anonymity

{'Yes': 375, "Don't know": 819, 'No': 65}

In [38]:
#create a dictionary to see the kind of values in coworkers columumns
coworkers = {}
for options in df['coworkers']:
    if options in coworkers:
        coworkers[options] += 1
    else:
        coworkers[options] = 1

In [39]:
coworkers

{'Some of them': 774, 'No': 260, 'Yes': 225}

In [40]:
#create a dictionary to see the values in phys_health_consequence columumns
phys_health_consequence = {}
for options in df['phys_health_consequence']:
    if options in phys_health_consequence:
        phys_health_consequence[options] += 1
    else:
        phys_health_consequence[options] = 1

In [41]:
phys_health_consequence

{'No': 925, 'Yes': 61, 'Maybe': 273}

In [42]:
#create a dictionary to see the values in mental_health_interview columumns
mental_health_interview = {}
for options in df['mental_health_interview']:
    if options in mental_health_interview:
        mental_health_interview[options] += 1
    else:
        mental_health_interview[options] = 1

In [43]:
mental_health_interview

{'No': 1008, 'Yes': 44, 'Maybe': 207}

In [44]:
#create a dictionary to see the values in supervisor columumns
supervisor = {}
for options in df['supervisor']:
    if options in supervisor:
        supervisor[options] += 1
    else:
        supervisor[options] = 1

In [45]:
supervisor

{'Yes': 516, 'No': 393, 'Some of them': 350}

In [46]:
#create a dictionary to see the values in phys_health_interview columumns
phys_health_interview = {}
for options in df['phys_health_interview']:
    if options in phys_health_interview:
        phys_health_interview[options] += 1
    else:
        phys_health_interview[options] = 1

In [47]:
phys_health_interview

{'Maybe': 557, 'No': 500, 'Yes': 202}

In [48]:
#create a dictionary to see the values in obs_consequences columumns
obs_consequence = {}
for options in df['obs_consequence']:
    if options in obs_consequence:
        obs_consequence[options] += 1
    else:
        obs_consequence[options] = 1

In [49]:
obs_consequence

{'No': 1075, 'Yes': 184}

# Label Encoding #2

In [50]:
le2 = preprocessing.LabelEncoder()

In [51]:
# use df.apply() to apply le.fit_transform to all columns without N/A

In [52]:
df[['obs_consequence', 'mental_vs_physical']] = df[['obs_consequence', 'mental_vs_physical']].apply(le2.fit_transform)

In [53]:
df[['phys_health_consequence', 'mental_health_consequence', 'seek_help', 'benefits', 'care_options', 'wellness_program']] = df[['phys_health_consequence', 'mental_health_consequence', 'seek_help', 'benefits', 'care_options', 'wellness_program']].apply(le2.fit_transform)

In [54]:
df[['coworkers', 'supervisor', 'anonymity']] = df[['coworkers', 'supervisor', 'anonymity']].apply(le2.fit_transform)

In [55]:
df[['phys_health_interview', 'mental_health_interview']] = df[['phys_health_interview', 'mental_health_interview']].apply(le2.fit_transform)

In [56]:
#Replacing NANS with "No" and transforming data.
df['self_employed'].fillna(value='No', inplace=True)
df[['self_employed']] = df[['self_employed']].apply(le2.fit_transform)

In [57]:
#Replacing NANS with "Dont know" and transforming data.
df['work_interfere'].fillna(value='Don\'t know', inplace=True)
df[['work_interfere']] = df[['work_interfere']].apply(le2.fit_transform)

In [58]:
df[['Country']] = df[['Country']].apply(le2.fit_transform)

In [59]:
#remove state column
df = df.drop(columns='state')

In [60]:
df.head()

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,1,45,0,0,1,2,1,0,...,2,1,1,1,1,2,1,0,2,0
1,2014-08-27 11:29:37,44,0,45,0,0,0,3,5,0,...,0,4,0,1,0,0,1,1,0,0
2,2014-08-27 11:29:44,32,0,7,0,0,0,3,1,0,...,0,2,1,1,2,2,2,2,1,0
3,2014-08-27 11:29:46,31,0,44,0,1,1,2,2,0,...,1,2,2,2,1,0,0,0,1,1
4,2014-08-27 11:30:22,31,0,45,0,0,0,1,3,1,...,0,4,1,1,1,2,2,2,0,0

In [61]:
#filling missing value for age with median 
df['Age'].fillna(df['Age'].median(), inplace=True)

In [62]:
# Fill the age >18 and <120 with median age value
a = pd.Series(df['Age'])
a[a<18] = df['Age'].median()
df['Age'] = a
a = pd.Series(df['Age'])
a[a>120] = df['Age'].median()
df['Age'] = a

#Ranges of Age
df['age_range'] = pd.cut(df['Age'], [0,20,30,65,100], labels=["0-20", "21-30", "31-65", "66-100"], include_lowest=True)

In [63]:
df.head()

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,age_range
0,2014-08-27 11:29:31,37,1,45,0,0,1,2,1,0,...,1,1,1,1,2,1,0,2,0,31-65
1,2014-08-27 11:29:37,44,0,45,0,0,0,3,5,0,...,4,0,1,0,0,1,1,0,0,31-65
2,2014-08-27 11:29:44,32,0,7,0,0,0,3,1,0,...,2,1,1,2,2,2,2,1,0,31-65
3,2014-08-27 11:29:46,31,0,44,0,1,1,2,2,0,...,2,2,2,1,0,0,0,1,1,31-65
4,2014-08-27 11:30:22,31,0,45,0,0,0,1,3,1,...,4,1,1,1,2,2,2,0,0,31-65

In [64]:
print(df['work_interfere'].unique())

[2 3 1 4 0]

In [65]:
#Removing the Timestamp column
df = df.drop('Timestamp', axis=1)

## Distributions Of Feature Values

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1259 non-null   int64
 1   Gender                     1259 non-null   int64
 2   Country                    1259 non-null   int32
 3   self_employed              1259 non-null   int32
 4   family_history             1259 non-null   int32
 5   treatment                  1259 non-null   int32
 6   work_interfere             1259 non-null   int32
 7   no_employees               1259 non-null   int64
 8   remote_work                1259 non-null   int32
 9   tech_company               1259 non-null   int32
 10  benefits                   1259 non-null   int32
 11  care_options               1259 non-null   int32
 12  wellness_program           1259 non-null   int32
 13  seek_help                  1259 non-null   int32
 14  anonymity                  1259 non-null   int32
 15  leave                      1259 non-null   int64
 16  mental_health_consequence  1259 non-null   int32
 17  phys_health_consequence    1259 non-null   int32
 18  coworkers                  1259 non-null   int32
 19  supervisor                 1259 non-null   int32
 20  mental_health_interview    1259 non-null   int32
 21  phys_health_interview      1259 non-null   int32
 22  mental_vs_physical         1259 non-null   int32
 23  obs_consequence            1259 non-null   int32
 24  age_range                  1259 non-null   category
dtypes: category(1), int32(20), int64(4)
memory usage: 139.3 KB

In [70]:
# save the data to a new csv file
df.to_csv("C:/Users/keshi/Downloads/Medical/EDA.xlsx")